<form role="dialog" name="personForm">
    <div class="modal-header">
        <h2 class="modal-title">{{title}} - {{person.FirstName}} {{person.LastName}}</h2>
    </div>


    <div class="modal-body">
        <div class="form-horizontal">
            <!-- Text input-->
            <div class="form-group" >
                <label class="col-md-4 control-label" for="FirstName">First Name</label>
                <div class="col-md-5">
                    <input name="FirstName" type="text" placeholder="e.g. John" class="form-control" data-ng-model="person.FirstName" required>
                    <p ng-show="personForm.FirstName.$invalid && !personForm.FirstName.$pristine" class="help-block">First name is required.</p>
                </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="LastName">Last Name</label>
                <div class="col-md-5">
                    <input name="LastName" type="text" placeholder="e.g. Smith" class="form-control" data-ng-model="person.LastName" required>
                    <p ng-show="personForm.LastName.$invalid && !personForm.LastName.$pristine" class="help-block">Last name is required.</p>
                </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Age">Age</label>
                <div class="col-md-5">
                    <input name="Age" type="number" min="0" step="1" max="4294967295" class="form-control" data-ng-model="person.Age" required>
                    <p ng-show="personForm.Age.$invalid && !personForm.Age.$pristine" class="help-block">Age is invalid.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="personForm.$invalid">Submit</button>
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>

</form>