@{
    ViewBag.Title = "AgeRanger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/app")
}

<div ng-app="app">


    <div id="page-wrapper" class="container" ng-view>
    </div>



</div>